<div class="introduction">
    <h1 class ="intro-head">HELLO! THIS IS LUCAS LI</h1>
    <h2>
        <p>I am a full stack software developer with a passion in data science and machine learning.
             I recently got my second bachelor degree from University of Victoria with a major in Computer Science.
             I also hold a bachelor degree in Economics when I first attended UVic. <br>
        </p>
        <p>
            I have worked as a full stack software developer at a foreign-exchange firm formally called EncoreFX where I built a 
             currency hedging strategies web application. I have also worked at Western Forest Products as database programmer
             and data analyst. 
        </p>
        <p>
            As a entrepreneur, I have co-founded an car rental business in Victoria. While I realized the importance of 
            business intelligence and technogies. Which can make companies run smoother and more efficiently.
        </p>
        <p>
            Feel free to contact me for any reasons on LinkedIn or Email. I would love to meet people and explorer new careers 
        </p>
    </h2>
</div>
