p {
    font-family: Lato;
  }
.container{
  /* The image used */
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image{
  background-size:cover;
  background-image:url('../assets/img/RaymondLee.jpeg');
  background-position:center;
  background-repeat: no-repeat;
  height:100%;
}
  /*
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
  */