a.topbar{
    text-align: center;
}
.example-spacer {
    flex: 1 1 auto;
  }
.example-icon {
    margin-right: 3mm;
}
.profle{
    background-image: url(../../assets/img/profile.jpeg);
    background-position:center;
}
.mat-toolbar-single-row{
    background-color:rgb(237, 233, 233)
}