<mat-toolbar>
    <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">    
    </head>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item onclick="window.open('../../assets/doc/resume.pdf','_blank')">
        <mat-icon>assignment_ind</mat-icon>Resume</button>
      <button mat-menu-item onclick="window.open('../../assets/doc/Hadoop.pdf','_blank')">
        <mat-icon>desktop_mac</mat-icon>Projects</button>
    </mat-menu>
    <span>Lucas Li</span>
    <div class="profile">
    </div>
    <span class="example-spacer"></span>
    
    <button onclick="location.href='mailto:yzlucas@outlook.com';" mat-icon-button matTooltip="Email Lucas" class="example-icon favorite-icon" aria-label="Example icon-button with email icon">
      <mat-icon ><i class="fa fa-envelope" aria-hidden="true"></i></mat-icon>
    </button>

    <button onclick="window.open('https://www.linkedin.com/in/yzlucas/','_blank')" mat-icon-button matTooltip="LinkedIn" class="example-icon" aria-label="Example icon-button with linkedin icon" >
      <mat-icon ><i class="fa fa-linkedin" aria-hidden="true"></i></mat-icon>
    </button>

    <button onclick="window.open('https://twitter.com/LucasLe74381899','_blank')" mat-icon-button matTooltip="Twitter" class="example-icon" aria-label="Example icon-button with twitter icon" >
      <mat-icon ><i class="fa fa-twitter" aria-hidden="true"></i></mat-icon>
    </button>

    <button onclick="window.open('https://www.facebook.com/lucas.li.524/','_blank')" mat-icon-button matTooltip="Facebook" class="example-icon" aria-label="Example icon-button with twitter icon" >
      <mat-icon ><i class="fa fa-facebook" aria-hidden="true"></i></mat-icon>
    </button>
</mat-toolbar>

