<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Lucas's Angular Site</span>
    <span class="example-spacer"></span>
    <button onclick="location.href='mailto:yzlucas@outlook.com';" mat-icon-button matTooltip="Email Lucas" class="example-icon favorite-icon" aria-label="Example icon-button with email icon">
        <mat-icon >contact_mail</mat-icon>
    </button>
    <button onclick="window.open('https://www.linkedin.com/in/yzlucas/','_blank')" mat-icon-button matTooltip="LinkedIn" class="example-icon" aria-label="Example icon-button with share icon" >
      <mat-icon >linkedin</mat-icon>
    </button>
</mat-toolbar>